body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;  /* A light gray background for contrast */
}

.map-container {
    position: relative;
    display: inline-block;
    max-width: 100%;  /* Ensure it doesn't overflow the viewport */
}

.map-image {
    max-width: 100%;  /* Responsive image */
    display: block;
    margin: auto;  /* Center the image */
}

.button {
    width: 35px;
    height: 35px;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-repeat: no-repeat;
}

#btn1 {
    top: 10%;
    left: 20%;
}

#btn2 {
    top: 30%;
    left: 50%;
}

.selector-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 10;
}

.selector-button:hover {
    background-color: #ddd;
}

.selector-menu {
    position: absolute;
    top: 50px;
    right: 10px;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

.selector-menu p {
    margin: 0;
    padding: 5px 0;
    cursor: default;
}

.selector-menu select {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

.selector-menu button {
    width: 100%;
    padding: 5px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selector-menu button:hover {
    background-color: #187CBD;
}
/* Styling for checkboxes */
.selector-menu label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.selector-menu input[type="checkbox"] {
    margin-right: 5px;
}
